[Unit]
Description=IRC server

[Service]
User=irc
ExecStart=/usr/sbin/inspircd --config /etc/inspircd/inspircd.conf --nofork

[Install]
WantedBy=multi-user.target
